.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
  }

  #titlePage {
    text-align: center;
    font-family: Helvetica;
    margin-top: 100px;
  }

  #btnSubmit {
    position: relative;
  }

#rdbSir {
  margin-left: 20px;
}

#rdbMadam {
  margin-left: 20px;
}

#spnCivility {
  float:left;
  width:100%;
}